{% extends "base.html" %}
{% block title %}mamut.cool{% endblock %}
{% block content %}
<div class="container div-recherche padding15 margin15">
<h2>Recherche Géolocalisée</h2>
<form id= "form-search" action="/geofind" method="get">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Adresse</span>
    </div>
    <input type="text" class="form-control" id="address" name="address"
    {% if response.address %} value="{{ response.address }}" {% endif %} >
  </div>
  <div class="div-buttons clearfix">
    <button type="submit" class="btn btn-primary"><i class="fas fa-map-marked"></i> Rechercher</button>
    <button type="button" onclick="autourDeMoi()" class="btn btn-primary"><i class="fas fa-map-marker-alt"></i> Autour de moi</button>
  </div>
</form>
<br>
<h2>Recherche par Mot Clef</h2>
<form id= "form-search-words" action="/textfind" method="get">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Mots clefs</span>
    </div>
    <input type="text" class="form-control" id="words" name="words"
    {% if response.words %} value="{{ response.words }}" {% endif %} >
  </div>
  <div class="div-buttons clearfix">
    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Rechercher</button>
  </div>
</form>
</div>
{% if response.pages %}
<hr/>
<div class="container div-reponse margin15">
  <h2>Réponses</h2>
  {% for page in response.pages %}
  <div class="card margin5">
    <a class="card-header" href="/wikipage/{{ page.pageid }}">{{ page.title }}</a>
  </div>
  {% endfor %}
</div>
{% endif %}

<script>

function openPageId(pageId){
  document.location.href = '/wikipage/'+pageId
}

function submitPosition(position) {
  /*
  document.getElementById("address").value = '';
  document.getElementById("lat").value = position.coords.latitude;
  document.getElementById("lng").value = position.coords.longitude;
  document.getElementById("form-search").submit() ;
  */
  document.location.href = '/geofind?lat='+position.coords.latitude+'&lng='+position.coords.longitude;
}

function autourDeMoi(){
  console.log("getCoords")
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(submitPosition);
}

</script>
{% endblock %}
